# Example .env file
NODE_ENV=DEV # Dev environment (DEV or PROD)
POSTGRES_HOST=db # DB host
POSTGRES_USER=postgres # DB user
POSTGRES_PASSWORD=postgres # DB password
POSTGRES_PORT=5432 # DB port
POSTGRES_DB=testdb # DB name

WB_API_KEY=enterapikey # Wildberries api key

GOOGLE_SERVICE_ACCOUNT_EMAIL=example@example.iam.gserviceaccount.com # Google service account email
GOOGLE_PRIVATE_KEY=entergoogleprivatekey # Google private key