# Example .env file
# Dev environment (DEV or PROD)
NODE_ENV=DEV
# DB host
POSTGRES_HOST=db
# DB user
POSTGRES_USER=postgres
# DB password
POSTGRES_PASSWORD=postgres
# DB port
POSTGRES_PORT=5432
# DB name
POSTGRES_DB=testdb

# Wildberries API key
WB_API_KEY=enterapikey

# Google service account email
GOOGLE_SERVICE_ACCOUNT_EMAIL=example@example.iam.gserviceaccount.com
# Google private key
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----...