# Example .env file
NODE_ENV=DEV # Dev environment (DEV or PROD)
POSTGRES_HOST=localhost # DB host
POSTGRES_USER=postgres # DB user
POSTGRES_PASSWORD=postgres # DB password
POSTGRES_PORT=5432 # DB port
POSTGRES_DATABASE=testdb # DB name